@import url(http://fonts.googleapis.com/css?family=Arimo:700);

body {
  overflow: hidden;
  padding-top: 17em;
  background-color: #f8f8f8;
  perspective: 1000px;
}

.cube {
  width: 400px;
  height: 100px;
  margin: 0 auto;
  font-family: 'Arimo', sans-serif;
  font-size: 32px;
  line-height: 100px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #f8f8f8;
  transition: transform .33s;
  transform-style: preserve-3d;
}

.cube:active {
	transform: rotateX(95deg);
}

.front, .bottom {
  height: 100px;
}

.front {
  background-color: black;
  transform: translateZ(50px);
}

.bottom {
  background-color: black;
  transform: rotateX(-90deg) translateZ(-50px);
